* {
    z-index: 1;
    box-sizing: border-box;
}

body {
    height: 97.5vh;
    margin: 0;
    padding: 0;
}

div.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

footer,
header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img#logo {
    width: 200px;
}

/* label {
    flex: 1;
    text-align: left;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
} */

input {
    width: 182px;
    height: 32px;
    margin-bottom: 28px;
    border-radius: 50px;
    background-color: white;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 5px;
}

input:focus {
    outline: none;
}

input:hover {
    background-color: #FFFFF0;
}

button {
    width: 70px;
    height: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration-color: white;
    color: white;
    background-color: #8C3718;
}

footer p{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    color: white;
    font-size: 12px;
}

img#background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

img#driver {
    height: 352px;
    width: 269px;
    position: absolute;
    top: 288px;
    left: 170px;
    z-index: -1;
    opacity: 0.75;
}

div#logo-circle {
    background-color: white;
    width: 165px;
    height: 165px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto 36px auto;
}

img#logo {
    width: 127px;
    height: 127px;
}

div#links {
    display: flex;
    flex-direction: column;
    margin: 20px auto 30px 87px;
    padding: 0;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: underline;
}

div#links a + a{
    margin-top: 11px;
}

div#google-login {
    width: 170;
    height: 30px;
    display: flex;
    margin: 0 auto 90px auto;   
    border-radius: 6px;
    background-color: white; 
    align-items: center;
    justify-content: center;
}

div#google-login p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #929292;
    margin: auto 8px;
}

div#google-login span {
    display: flex;
    height: 23px;
    width: 23px;
    background-image: url('../img/google.svg');
    margin: auto 8px;
}