div.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

footer,
header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img#logo {
    width: 200px;
}

label {
    flex: 1;
    text-align: left;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
}

input {
    width: 160px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 6px;
}

button {
    width: 100px;
    height: 25px;
    margin: 15px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button#forgot-password{
    font-size: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

footer p{
    margin: 0;
}

body {
    background-image: url('../img/background.png');
}

img#driver {
    
}