body {
    background-color: #FFFFFF;
    height: 97.5vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100vw;
    background-color: #0471B5;
}

header div.header-content {
    margin: 0 15px;
    display: flex;
    flex: 1;
}

header div#photo-circle {
    height: 82px;
    width: 82px;
    border-radius: 100px;
    background-color: #F2F2F2;
}

header div#photo-circle img#photo{
    height: 82px;
    width: 82px;
    border-radius: 100px;
}

header div#header-info {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 8px;
    align-content: center;
}

header div#header-info h1{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 3px;
}

header div#header-info h2{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: auto;
}

footer p{
    font-family: 'Roboto', sans-serif;
    color:#65DBF5;
    font-size: 12px;
    flex: 1;
    margin: 0px auto;
    text-align: center;
}

div.content {
    margin: 18px auto 85px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cards {
    display: grid;
    row-gap: 9px;
    column-gap: 13px;
    grid-template-columns: 1fr 1fr;
}

div.card {
    width: 134px;
    height: 106px; 
    border: 2px solid #C4C4C4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Remover ao pegar os ícones corretos*/
div.card img {
    width: 60px;
    margin-top: 15px;
}

div.card label {
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

a {
    text-decoration: none;
}