body {
    background-color: #FFFFFF;
    height: 97.5vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 242px;
    width: 100vw;
    background-color: #0471B5;
}

header div#photo-circle {
    height: 166px;
    width: 166px;
    border-radius: 100px;
    background-color: #F2F2F2;
}

header div#photo-circle img#photo{
    height: 166px;
    width: 166px;
    border-radius: 100px;
}

header div#change-photo-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 48px;
    width: 48px;
    border-radius: 100px;
    right: -110px;
    top: -40px;
    background-color: #8C3718;
}

header div#change-photo-circle img#change-photo {
    width: 35px;
    height: 35px;
}

div.content {
    width: 260px;
    margin: 48px auto 85px auto;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: auto;
}

footer p{
    font-family: 'Roboto', sans-serif;
    color:#65DBF5;
    font-size: 12px;
    flex: 1;
    margin: 0px auto;
    text-align: center;
}

h1 {
    border-bottom: 1px solid #65DBF5;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 18px;
    padding-left: 7px;
}

label {
    font-family: 'Roboto', sans-serif;
    color:#65DBF5;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 7px;
}