/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 80%;
    width: 80%;
    margin: 0;
    padding: 0;
}

:root {
    height: 100vh;
    width: 100vw;
}

@media all and (display-mode: standalone) {
    body {
        background-color: white;
    }
}

div#modal button#installButton {
    margin: 15px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    opacity: 0.54;
    outline: none;
    overflow: hidden;
    text-indent: -30000px;
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    background: url('./../img/iconInstallPWA.svg') center center no-repeat
}
.hidden {
    display: none;
}