<!DOCTYPE html>

<html lang = "pt-br">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Aplicativo para melhorar a qualidade de trabalho dos caminhoneiros">
        <meta name="theme-color" content="#FFFFFF">
        <title>FreteSeguro</title>
        <link rel="shortcut icon" href="../img/LogoSVG.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/login.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/LogoSVG.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div id="logo-circle">
                <img src="../img/Logo192.png" alt="Logo do FreteSeguro" id="logo">
            </div>
        </header>

        <div class="content">
            <h1>Cadastro concluído com sucesso!</h1>
            <h2>Redirecionando para a página principal</h2>
        </div>

        <footer>
            <p>Frete Seguro, 2020 © Todos os direitos reservados</p>
        </footer>

        <img id="driver" src="../img/driver3.png" alt="">

        <img src="../img/background.png" alt="" id="background">
    </body>

    <script src="../scripts/cadastro-concluido.js"></script>
    
</html>