<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Aplicativo para melhorar a qualidade de trabalho dos caminhoneiros">
        <meta name="theme-color" content="#FFFFFF">
        <title>FreteSeguro</title>
        <link rel="shortcut icon" href="../img/LogoSVG.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/chat.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/LogoSVG.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="header-content">
            <div id="photo-circle">
                <img src="../uploads/image-1592150946673.jpeg" alt="Foto do caminhoreiro atualmente logado" id="photo">
            </div>
            <div id="header-info">
                <h1>Rômulo Iorio {{ caminhoneiro.nome }}</h1>
                <h2>romuloiorio@hotmail.com {{ caminhoneiro.email }}</h2>
            </div>
        </div>
    </header>

<div class="content">

        <section class="container row">
            <div class="chat-item">
                <img src="../uploads/image-1592150946673.jpeg" alt="img-truck">
                <p id="message">Boa noite, vi um serviço de frete de Campinas para Fortaleza, gostaria de pedir mais informações</p>
                <div id="message-time">
                    <span>17:38</span>
                </div>
            </div>
        </section>

        <section class="container row">
            <div class="chat-item">
                <img src="../img/LogoSVG.svg" alt="img-company">
                <p id="message">Pronto, os detalhes do serviço são os seguintes: Preciso que você envie 30 toneladas de carga para Fortaleza até o fim de semana</p>
                <div id="message-time">
                    <span>17:40</span>
                </div>
            </div>
        </section>

        <section class="container row">
            <div class="chat-item">
                <img src="../uploads/image-1592150946673.jpeg" alt="img-truck">
                <p id="message">Ok, estarei chegando aí para buscar a carga em 30 minutos</p>
                <div id="message-time">
                    <span>17:38</span>
                </div>
            </div>
        </section>

        <section class="container row">
            <div class="chat-item">
                <img src="../img/LogoSVG.svg" alt="img-company">
                <p id="message">Combinado, prepararemos a sua carga para despacho!</p>
                <div id="message-time">
                    <span>17:40</span>
                </div>
            </div>
        </section>
    </div>

    <div id="message-input">
        <form>
            <input id="message-text" type="text" placeholder="Digite uma mensagem">
        </form>
        <button id="send" type="submit">></button>
    </div>

    <footer>
        <p>Frete Seguro, 2020 © Todos os direitos reservados</p>
    </footer>

    <script src="../scripts/chat.js"></script>
    <script src="../scripts/gps-tracking.js"></script>
    <script src="../scripts/accelerometer.js"></script>
</body>
</html>