<!DOCTYPE html>

<html lang = "pt-br">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Site para testar a API de mapas do google maps">
        <meta name="theme-color" content="#FFFFFF">
        <title>Teste mapa</title>
        <link rel="shortcut icon" href="../img/maps.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/main.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/maps.svg"/>
    </head>

    <body>
        <header>
            <h1>Teste mapa</h1>
        </header>

        <div id="map"></div>

        <footer>
            <a>
                <button>Navegar</button>
            </a>
            <h1>Footer genérico</h1>
        </footer>

        <div id="modal">
            <button id = "installButton" hidden>Install</button>
        </div>
    </body>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer
        src='https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/js?key=AIzaSyB2twdyhbY-Am2MgyGkWBpHZnTktlw8PJs&callback=initMap'>
    </script>        
    <script src="../scripts/index.js"></script>
    <script type="module" src="../service-worker.js"></script>
    <!-- CODELAB: Add the install script here -->
    <script src="../scripts/install.js"></script>
    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker
                .register("../service-worker.js")
                .then( res => {
                    console.log(`Service worker registered: ${res}`); 
                }, err =>{
                    console.log(`Service worker not registered: ${err}`);
                });
        }
    </script>
</html>