<!DOCTYPE html>

<html lang = "pt-br">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Aplicativo para melhorar a qualidade de trabalho dos caminhoneiros">
        <meta name="theme-color" content="#FFFFFF">
        <title>FreteSeguro</title>
        <link rel="shortcut icon" href="../img/LogoSVG.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/main-page.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/LogoSVG.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
<!--{{ caminhoneiro.image }}-->
    <body>
        <header>
            <div class="header-content">
                <div id="photo-circle">
                    <img src="../uploads/image-1592150946673.jpeg" alt="Foto do caminhoreiro atualmente logado" id="photo">
                </div>

                <div id="header-info">
                    <h1>Rômulo Iorio {{ caminhoneiro.nome }}</h1>
                    <h2>romuloiorio@hotmail.com {{ caminhoneiro.email }}</h2>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="cards">
                <div class="card" id="chat">
                    <img src="../img/chat.svg" alt="" name="chat">
                    <label for="chat">Chat</label>
                </div>
                <div class="card" id="health">
                    <img src="../img/health.svg" alt="" name="health">
                    <label for="health">Saúde</label>
                </div>
                <a href="/services">
                    <div class="card" id="services">
                        <img src="../img/services.svg" alt="" name="services">
                        <label for="services">Serviços</label>                    
                    </div>
                </a>
                <div class="card" id="profile">
                    <img src="../img/profile.svg" alt="" name="profile">
                    <label for="profile">Perfil</label>
                </div>
                <div class="card" id="map">
                    <img src="../img/map.svg" alt="" name="map">
                    <label for="map">Mapa</label>                
                </div>
                <div class="card" id="log-out">
                    <img src="../img/log-out.svg" alt="" name="log-out">
                    <label for="log-out">Log-out</label>
                </div>
            </div>
        </div>

        <footer>
            <p>Frete Seguro, 2020 © Todos os direitos reservados</p>
        </footer>
    </body>

    <script src="../scripts/main-page.js"></script>

</html>