<!DOCTYPE html>

<html lang = "pt-br">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Aplicativo para melhorar a qualidade de trabalho dos caminhoneiros">
        <meta name="theme-color" content="#FFFFFF">
        <title>FreteSeguro</title>
        <link rel="shortcut icon" href="../img/LogoSVG.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/profile.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/LogoSVG.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
{{ caminhoneiro.image }}
    <body>
        <header>
            <div id="photo-circle">
                <img src="../uploads/image-1592150946673.jpeg" alt="Foto do caminhoreiro atualmente logado" id="photo">
                <div id="change-photo-circle">
                    <img src="../img/cameraIcon.svg" alt="Ícone de câmera que permite mudar foto" id="change-photo">
                </div>
                <form action="/change-photo" method="POST" enctype="multipart/form-data" id = "changePhotoForm">
                    <input type="file" name=image hidden>
                </form>
            </div>
        </header>

        <div class="content">
            <div id="name-div">
                <label for="name">Nome:</label>
                <h1 name="name">Rômulo Iorio{{ caminhoneiro.nome }}</h1>
            </div>
            <div id="age-div">
                <label for="age">Idade:</label>
                <h1 name="age">22 {{ caminhoneiro.nome }}</h1>
            </div>
            <div id="gender-div">
                <label for="gender">Gênero:</label>
                <h1 name="gender">Homem {{ caminhoneiro.gender }}</h1>
            </div>
            <div id="phone-div">
                <label for="phone">Telefone:</label>
                <h1 name=phone>(85) 99995-2718{{ caminhoneiro.phone }}</h1>
            </div>
        </div>

        <footer>
            <p>Frete Seguro, 2020 © Todos os direitos reservados</p>
        </footer>
    </body>

    <script src="../scripts/profile.js"></script>
    <script src="../scripts/gps-tracking.js"></script>

</html>