<!DOCTYPE html>

<html lang = "pt-br">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Aplicativo para melhorar a qualidade de trabalho dos caminhoneiros">
        <meta name="theme-color" content="#FFFFFF">
        <title>FreteSeguro</title>
        <link rel="shortcut icon" href="../img/LogoSVG.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/registro.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/LogoSVG.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div id="logo-circle">
                <img src="../img/Logo192.png" alt="Logo do FreteSeguro" id="logo">
            </div>
        </header>

        <div class="content">
            <form action="/registro" method="POST" enctype="multipart/form-data">
                
                <div id="name-image">
                    <input type="text" name="name" placeholder="Digite seu nome" required>

                    <label for="image">
                        <img src="../img/camera.svg" id="input-image-icon" />
                        <input id="image" type="file" name="image" accept="image/*" placeholder="" required>
                    </label>                
                </div>
                <select name="gender" placeholder="Digite a cor do seu carro" required>
                    <option value="Homem">Homem</option>
                    <option value="Mulher">Mulher</option>
                    <option value="Outro">Outro</option>
                    <option value="Prefiro não informar">Prefiro não informar</option>
                </select>
                <input type="email" name="email" placeholder="Digite seu e-mail" required>
                <input minlength="8" type="password" value="" name="password" placeholder="Digite a sua senha" required>
                <input minlength="8" type="password" value="" name="password-repeat" placeholder="Digite a mesma senha" required>
                <input type="tel" name="phone" pattern="([0-9]){3} [0-9]{5}-[0-9]{4}" placeholder="Digite seu telefone" required>
                <input type="number" name="cpf" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" placeholder="Digite seu CPF" required>
                <input type="number" name="rg" placeholder="Digite seu RG" required>
                <input type="date" name="birthday" placeholder="Digite sua data de nascimento" required>
                <input type="number" name="cnh" placeholder="Digite o número da sua CNH" required>
                <input type="number" name="docCarro" placeholder="Digite o documento do carro" required>
                <input type="text" name="placa" placeholder="Digite a placa do seu carro" required>
                <input type="text" name="modelo" placeholder="Digite o nodelo do seu carro" required>
                <input type="text" name="cor" placeholder="Digite a cor do seu carro" required>

                <button id="send-form" type="submit">Registrar</button>

            </form>

        </div>

        <footer>
            <p>Frete Seguro, 2020 © Todos os direitos reservados</p>
        </footer>

        <img id="driver" src="../img/driver3.png" alt="">

        <img src="../img/background.png" alt="" id="background">

        <div class="hide" id="image-modal">
            <img id="image-sample" src="" alt="Imagem de perfil selecionada pelo usuário">
        </div>

    <script src="../scripts/registro.js"></script>
</html>