<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta name="description" content="Aplicativo para melhorar a qualidade de trabalho dos caminhoneiros">
        <meta name="theme-color" content="#FFFFFF">
        <title>FreteSeguro</title>
        <link rel="shortcut icon" href="../img/LogoSVG.svg" />
        <link rel="stylesheet" type="text/css" href="../styles/services.css" />
        <link rel="manifest" href="../../manifest.json">
        <link rel="apple-touch-icon" href="../img/LogoSVG.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="header-content">
            <div id="photo-circle">
                <img src="../uploads/image-1592150946673.jpeg" alt="Foto do caminhoreiro atualmente logado" id="photo">
            </div>
            <div id="header-info">
                <h1>Rômulo Iorio {{ caminhoneiro.nome }}</h1>
                <h2>romuloiorio@hotmail.com {{ caminhoneiro.email }}</h2>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="cards"> 
            <div class="card">
                <div id="card-up" name="ambev">
                    <div id="route">
                        <p>de <strong>CAMPINAS - SP</strong> para</p>
                        <h6><strong>FORTALEZA-CE</strong></h6>
                    </div>
                    <div id="div-time">
                        <span id="icon-time"></span>
                        <p id="time">Há <strong>5</strong> dias</p>
                    </div>
                </div>
                <div id="card-down">
                    <div id="div-price-per-km">
                        <span id="icon-price-per-km"></span>
                        <p id="price-per-km">R$ 3,95</p>
                    </div>

                    <div id="div-weight">
                        <span id="icon-weight"></span>
                        <p id="weight">32,00 Ton</p>
                    </div>

                    <div id="div-price">
                        <span id="icon-price"></span>
                        <p id="price">R$ 9800,00</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="card-up">
                    <div id="route">
                        <p>de <strong>CAMPINAS - SP</strong> para</p>
                        <h6><strong>FORTALEZA-CE</strong></h6>
                    </div>
                    <div id="div-time">
                        <span id="icon-time"></span>
                        <p id="time">Há <strong>5</strong> dias</p>
                    </div>
                </div>
                <div id="card-down">
                    <div id="div-price-per-km">
                        <span id="icon-price-per-km"></span>
                        <p id="price-per-km">R$ 3,95</p>
                    </div>

                    <div id="div-weight">
                        <span id="icon-weight"></span>
                        <p id="weight">32,00 Ton</p>
                    </div>

                    <div id="div-price">
                        <span id="icon-price"></span>
                        <p id="price">R$ 9800,00</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="card-up">
                    <div id="route">
                        <p>de <strong>CAMPINAS - SP</strong> para</p>
                        <h6><strong>FORTALEZA-CE</strong></h6>
                    </div>
                    <div id="div-time">
                        <span id="icon-time"></span>
                        <p id="time">Há <strong>5</strong> dias</p>
                    </div>
                </div>
                <div id="card-down">
                    <div id="div-price-per-km">
                        <span id="icon-price-per-km"></span>
                        <p id="price-per-km">R$ 3,95</p>
                    </div>

                    <div id="div-weight">
                        <span id="icon-weight"></span>
                        <p id="weight">32,00 Ton</p>
                    </div>

                    <div id="div-price">
                        <span id="icon-price"></span>
                        <p id="price">R$ 9800,00</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="card-up">
                    <div id="route">
                        <p>de <strong>CAMPINAS - SP</strong> para</p>
                        <h6><strong>FORTALEZA-CE</strong></h6>
                    </div>
                    <div id="div-time">
                        <span id="icon-time"></span>
                        <p id="time">Há <strong>5</strong> dias</p>
                    </div>
                </div>
                <div id="card-down">
                    <div id="div-price-per-km">
                        <span id="icon-price-per-km"></span>
                        <p id="price-per-km">R$ 3,95</p>
                    </div>

                    <div id="div-weight">
                        <span id="icon-weight"></span>
                        <p id="weight">32,00 Ton</p>
                    </div>

                    <div id="div-price">
                        <span id="icon-price"></span>
                        <p id="price">R$ 9800,00</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="card-up">
                    <div id="route">
                        <p>de <strong>CAMPINAS - SP</strong> para</p>
                        <h6><strong>FORTALEZA-CE</strong></h6>
                    </div>
                    <div id="div-time">
                        <span id="icon-time"></span>
                        <p id="time">Há <strong>5</strong> dias</p>
                    </div>
                </div>
                <div id="card-down">
                    <div id="div-price-per-km">
                        <span id="icon-price-per-km"></span>
                        <p id="price-per-km">R$ 3,95</p>
                    </div>

                    <div id="div-weight">
                        <span id="icon-weight"></span>
                        <p id="weight">32,00 Ton</p>
                    </div>

                    <div id="div-price">
                        <span id="icon-price"></span>
                        <p id="price">R$ 9800,00</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div id="card-up">
                    <div id="route">
                        <p>de <strong>CAMPINAS - SP</strong> para</p>
                        <h6><strong>FORTALEZA-CE</strong></h6>
                    </div>
                    <div id="div-time">
                        <span id="icon-time"></span>
                        <p id="time">Há <strong>5</strong> dias</p>
                    </div>
                </div>
                <div id="card-down">
                    <div id="div-price-per-km">
                        <span id="icon-price-per-km"></span>
                        <p id="price-per-km">R$ 3,95</p>
                    </div>

                    <div id="div-weight">
                        <span id="icon-weight"></span>
                        <p id="weight">32,00 Ton</p>
                    </div>

                    <div id="div-price">
                        <span id="icon-price"></span>
                        <p id="price">R$ 9800,00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-button">
            <button>Atualizar</button>
        </div>
    </div>

    <div id="modal-promocao" class="modal-container">
        <div class="modal">
            <button class="fechar">x</button>
            <!-- <h3 class="subtitulo">Você pode reservar essa corrida</h3>
             <form>
                <input type="text" class="input" placeholder="email">
                <input type="button" class="button" value="cadastrar">
            </form> -->
            <div class="img-box">
                <img class="img-company" src="../img/LogoSVG.svg" alt="empresa que está oferecendo o frete">
            </div>
            
            <div class="dado">
                <p> Tempo médio de descarga:</p>
                <p>5h</p>
                <p>Avaliação:</p>
                <h1>4,8</h1>
            </div>
            <div id="div-reservar-button">
                <a href="/chat">
                    <button id="reservar-button">Reservar corrida</button>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <p>Frete Seguro, 2020 © Todos os direitos reservados</p>
    </footer>

    <script src="../scripts/services.js"></script>
</body>
</html>